hi
{{param}}
<div class="container">
<nz-card style="width:100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
</ng-template>
<nz-card style="width:100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
</ng-template>
<nz-card style="width:100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
</ng-template>
<nz-card style="width:100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
</ng-template>
<nz-card style="width:100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
</ng-template>
<nz-card style="width:100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
</ng-template>
<nz-card style="width:100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
</ng-template>
<nz-card style="width:100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
</ng-template>
<nz-card style="width:100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
</ng-template>
<nz-card style="width:100%;" nzTitle="Card title" [nzExtra]="extraTemplate">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <ng-template #extraTemplate>
        <a>More</a>
</ng-template>
</div>