p {
    margin: 0;
  }
  .container{
      height: 75vh;
      overflow: auto;
  }
nz-space-item nz-card{
    min-width:78vw;
    max-width:78vw;
    margin-left:3vw;
}
nz-tag:hover{
    cursor: pointer;
}