<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://zb.io/" target="_blank">
          <img src="../assets/image.png" alt="logo">
          <h1>ZBIO Info Stack</h1>
        </a>
      </div>
     
      <div *ngIf="loggedIn" class="sidebar-logo">
        <nz-avatar nzIcon="user" nzSrc="{{imageUrl}}"></nz-avatar>
        <h1 style="color: azure">{{userName}}</h1>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <li nz-submenu nzOpen nzTitle="Topics" nzIcon="dashboard">
            <ul>
              <li *ngIf="loggedIn" nz-menu-item nzMatchRouter>
                <input (keydown)="search($event)"style="width: 80%;" nz-input placeholder="Enter Keyword" [(ngModel)]="topic" />
              </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome/kubernetes">Kubernetes</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome/docker">Docker</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome/aws">AWS</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/welcome/nodejs">Node.js</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/welcome/angular">Angular</a>
            </li>
          </ul>
          </li>
          <li *ngIf="!loggedIn" nz-submenu nzOpen nzTitle="Login" nzIcon="login">
              <ul> 
              <li nz-menu-item nzMatchRouter>
                  <button nz-button nzType="default" (click)="signInWithGoogle()">Google Login<i nz-icon nzType="google" nzTheme="outline"></i> </button>
                </li>
              </ul>
          </li>
          <li *ngIf="loggedIn" nz-submenu nzOpen nzTitle="Logout" nzIcon="logout">
              <ul> 
              <li nz-menu-item nzMatchRouter>
                  <button nz-button nzType="danger" (click)="signOut()">Logout</button>
                </li>
              </ul>
          </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  