<div class="container">    
    <span *ngFor="let data of statsData,let i=index">
            <div *ngIf="i<statsData.length/2"style="display:flex; justify-content: space-around">
                <nz-statistic style="width: 35vw;text-align: center" nzValue="{{data['hits']}}" nzTitle="{{data['topic']}}"></nz-statistic>
                <nz-statistic style="width: 35vw;text-align: center" nzValue="{{statsData[statsData.length-1-i]['hits']}}" nzTitle="{{statsData[statsData.length-1-i]['topic']}}"></nz-statistic>
            </div>   
            <div style="height: 10%"></div>
    </span>
</div>